@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url("assets/background.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 194, 194,.5);

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #342;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #1e88e5;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
input:focus ~ label, input:not(:placeholder-shown) ~ label {
    transform: translateY(-30px);
    font-size: 0.8em;
    color: #1e88e5;
}
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #342;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #342;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #342;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #342;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #1e88e5;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    transition: 250ms;
}

button:hover{
    scale: 1.05;
}
.register{
    font-size: .9em;
    color: #1e88e5;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #1e88e5;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

h2{
    color: #1e88e5;
}

.homeButton{
    width: 50%;
    margin-top: 5%;
    background-color: #fa7d07;
    border-radius: 20px;
    text-align: center;
    margin-left: 25%;
    color: #fff;
    
}

.loginPage{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 14px;
    color: #0077b6;
}

a{
    text-decoration: none;
}