/* Nav Mobile Verion */
nav.mobileVersion {
    height: 4rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color: white;
}

* {
    border: red, solid, 2px;
}

nav.mobileVersion ul li {
    list-style: none;
}

nav.mobileVersion ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav.mobileVersion .image {
    width: 2.5rem;
    height: 2.5rem;
}

nav.mobileVersion .image>img,
nav.mobileVersion .image>svg {
    width: 100%;
}

nav.mobileVersion .image>img {
    border: 0.5px solid #adb1b4;
    border-radius: 50%;
}

nav.mobileVersion svg.image {
    fill: rgb(60, 61, 61);
}

nav.mobileVersion input {
    border-radius: 15px;
    padding: 0.3rem;
    margin-left: 1.3rem;
    text-align: left;
    background-color: rgb(221, 224, 227);
}

nav.mobileVersion .hidden {
    display: none;
}

nav.mobileVersion .hidden>li>a {
    text-decoration: none;
    color: black;

}

nav.mobileVersion .visible {
    display: block;
    list-style: none;
    overflow: hidden;
    width: 6rem;
    font-family: Arial;
    background-color: rgb(245, 245, 246);
    position: relative;
    z-index: 1;
    background-color: white;
}

nav.mobileVersion .visible>li {
    margin-right: 1rem;
    padding: 0.5rem 0.5rem 0.2rem;
}

#menuEl {
    background-color: white;
    border: none;
}

nav.mobileVersion {
    display:block;
}

nav.desktopVersion {
    display: none;
}

/* Nav Desctop Verion */

@media screen and (width > 768px) {
    nav.desktopVersion {
        height: 4rem;
        background-color: white;
        padding: 0 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 1;
        width: 100%;
       
       
    }
    
    
    .logoImg {
        width: 3.5rem;
        height: 3.5rem;
        border: 0.5px solid #adb1b4;
        border-radius: 50%;
    }
    
    
    .logoAndTitle {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
    }
    
    .userInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem
    }
    
    nav.desktopVersion .userInfo > a {
        text-decoration: none;
        color: black;
    }
    
    .signInItem, .logInItem {
        margin-right: 3rem;
    }
    
    #itemCart {
        fill : black;
        width: 2rem;
        height: 2rem;
    }
    
    #itemCart:hover {
        fill: grey;
    }
    
    .titleSila {
        font-size: 2rem;
        background: -webkit-linear-gradient(rgba(254, 122, 0, 1), rgba(32, 95, 219, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    input {
        width: 30rem;
        height: 2rem;
        border: none;
        border-radius: 15px;
        padding: 0.5rem;
        /*height: 1.5rem;*/
        background-color: rgb(221, 224, 227);
        text-align: center;
    }
    
    .signInItem {
        border: 1px solid black;
        border-radius: 20px;
        padding: 0 1rem;
    }
    
    .signInItem:hover {
        background-color: rgb(234, 234, 234);
    }

    nav.mobileVersion {
        display: none;
    }


}

/* Quantity items in cart*/

#itemCart {
    position: relative;
}

.quantityDiv {
    position: absolute;
    top: 0;
    right: 0;
}

.quantityDiv {
    height: 1rem;
    width: 1rem;
    border: 0.5px solid black;
    background-color: white;
    border-radius: 50%;
}

.quantityDiv p {
    font-size: 0.7rem;
    text-align: center;
    color: rgb(254, 122, 0);
    font-weight: bold;
}