/* Nav Mobile Verion */
nav.mobileVersion {
    height: 4rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;

}

nav.mobileVersion ul li {
    list-style: none;
}

nav.mobileVersion ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav.mobileVersion .image {
    width: 2.5rem;
    height: 2.5rem;
}

nav.mobileVersion .image>img,
nav.mobileVersion .image>svg {
    width: 100%;
}

nav.mobileVersion .image>img {
    border: 0.5px solid #adb1b4;
    border-radius: 50%;
}

nav.mobileVersion svg.image {
    fill: rgb(60, 61, 61);
}

nav.mobileVersion input {
    border-radius: 15px;
    padding: 0.3rem;
    margin-left: 1.3rem;
    text-align: left;
    background-color: rgb(221, 224, 227);
}

nav.mobileVersion .hidden {
    display: none;
}

nav.mobileVersion .hidden>li>a {
    text-decoration: none;
    color: black;

}

nav.mobileVersion .visible {
    display: block;
    list-style: none;
    overflow: hidden;
    width: 5rem;
    font-family: Arial;
    background-color: rgb(245, 245, 246);
    position: relative;
    z-index: 1;
}

nav.mobileVersion .visible>li {
    margin: 0.5rem;
}

#menuEl {
    background-color: white;
    border: none;
}

nav.mobileVersion {
    display: block;
}


/* Nav Desctop Verion */
nav.desctopVersion {
    height: 4rem;
    margin-bottom: 1rem;
    padding: 0 5rem;
    display: block;
    background-color: white;
    display: block;
    display: none;
    position: fixed;
    width: 100%;
}

nav.desctopVersion>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LogoAndTitle,
.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

nav.desctopVersion ul li {
    list-style: none;
}

nav.desctopVersion ul li>a {
    text-decoration: none;
    color: black;
}

nav.desctopVersion .logoImage {
    width: 3.5rem;
    height: 3.5rem;
}

nav.desctopVersion .imageItem {
    width: 2rem;
    height: 2rem;
}

nav.desctopVersion .logoImage>img,
nav.desctopVersion .imageItem>svg {
    width: 100%;
}

nav.desctopVersion .logoImage>img {
    border: 0.5px solid #adb1b4;
    border-radius: 50%;
}

.titleSila {
    font-size: 2rem;
    background: -webkit-linear-gradient(rgba(254, 122, 0, 1), rgba(32, 95, 219, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desctopVersion .inputArea {
    width: 20rem;
}

.desctopVersion input {
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 0.3rem 0;
    text-align: left;
    background-color: rgb(221, 224, 227);
    text-align: center;
}

.desctopVersion .signInItem,
.desctopVersion .logInItem{
    margin-right: 3rem;
}

.desctopVersion .signInItem {
    width: 5rem;
}

.desctopVersion .signInItem > a {
    width: 100%;
    border: 0.5px solid black;
    border-radius: 15%;
}


.desctopVersion .signInItem {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 1rem;
}

@media screen and (width > 768px) {
    nav.desctopVersion {
        display: block;
    }

    nav.mobileVersion {
        display: none;
    }

}

