body {
    background-color: rgb(241, 241, 241);
}


body .allProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(241, 241, 241);
}

.container {
    display: flex;
    background-color: rgb(231, 230, 230);
    height: 30rem;
    width: 21%;
    padding: 5px;
    border-radius: 20px;
    margin: 3px;
}

.productImg {
    display: block;
    height: 60%;
    border-radius: 20px;
    margin-top: 1%;
    background-size: cover;


}

.productContainer {
    display: flex;
    width: 100%;

}

.boxProduct {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.console {
    color: grey;
    font-weight: 700;
    margin-top: 5%;
}

.gameName {
    font-weight: bold;
    margin-top: 2%;
    font-size: 150%;
}

.poductPrice {
    color: #FE7A00;
    font-weight: bold;
    font-size: 150%;
    margin-top: 10%;
    margin-bottom: 10%;

}

.toggle-btn {
    border: none;
    background: transparent;
    margin: 0.05rem;
    transition: 0.5s;
    position: relative;
    font-weight: 900;
    color: #FE7A00;

}

.form-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 20%;
    margin-left: 7.5%;
    margin-bottom: 3%;
}

.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: solid grey;
    width: 100%;
    height: 3rem;
}

#btn-left {
    background: transparent;
    width: 50%;
    border-radius: 30px;
    color: FE7A00ed;

}

#btn-right {
    background: transparent;
    width: 50%;
    border-radius: 30px;
    color: white;
}

.btn-translate {
    display: flex;
    background-color: #FE7A00;
    border-radius: 30px;
    width: 50%;
    height: 90%;
    position: absolute;
    color: black;
    transform: translate(97%);
    transition: 0.5s;
}

.allpage h2 {
    margin-left: 7.5%;
    margin-bottom: 4%;
    font-size: 400%;
}


.addToCart {
    border-radius: 20px;
    background-color: #FE7A00;
    color: white;
    border: none;
    width: 90%;
    height: 8%;
    margin-left: 5%;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container:hover {
    scale: 1.05;
    background-color: white;
    transition: 0.5s;

    .addToCart {
        background-color: #FE7A00;
    }
}

/* mobil version */
@media screen and (width < 768px) {
    .toggle-btn {
        border: none;
        background: transparent;
        margin: 0.05rem;
        transition: 0.5s;
        position: relative;
        font-weight: 900;

    }

    .form-box {
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: white;
        border-radius: 30px;
        width: 50%;
        margin-left: 7.5%;
        margin-bottom: 3%;
    }

    .button-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        border: solid grey;
        width: 100%;
        height: 3rem;
    }

    #btn-left {
        background: transparent;
        width: 50%;
        border-radius: 30px;
        color: FE7A00ed;

    }

    #btn-right {
        background: transparent;
        width: 50%;
        border-radius: 30px;
        color: white;
    }

    .btn-translate {
        display: flex;
        background-color: #FE7A00;
        border-radius: 30px;
        width: 50%;
        height: 90%;
        position: absolute;
        color: black;
        transform: translate(97%);
        transition: 0.5s;
    }

    .allpage h2 {
        margin-left: 7.5%;
        margin-bottom: 4%;
        font-size: 400%;
    }

    .addToCart {
        border-radius: 20px;
        background-color: #FE7A00;
        color: white;
        border: none;
        width: 90%;
        height: 8%;
        margin-left: 5%;
        font-weight: 900;
    }

    .cartItemP {
        display: none;
    }

    .container:hover {
        scale: 1.05;
        background-color: white;
        transition: 0.5s;

        .addToCart {
            background-color: #FE7A00;
        }
    }

    .container {
        width: 40%;
        height: 15rem;
        margin-bottom: 10%;
        box-shadow: 10px 5px 5px rgb(183, 183, 183);


    }

    /*.boxProduct {
        height: 60%;
    } */

    .productContainer {
        height: 100%;
    }

    .productImg {
        height: 100%;
    }

    .crossImg {
        display: none;
    }

    .crossImg img {
        display: none;
    }

    .slideBox {
        display: flex;
        width: 150%;
    }

    #titleProducts {
        font-size: 200%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .form-box {
        margin-bottom: 5%;
    }

    .important {
        display: none;
    }
}

/* slide ====================================================*/

.slideBox {
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 7.5%;
    margin-top: 5%;



}

.crossImg {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    width: auto;
    padding: 1%;

}

.crossImg img {
    width: 35%;
    margin: 5%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px grey;
}

.slide-wrapper {
    position: relative;
    max-width: 50%;
    margin: 0;
    border-radius: 30px;
    box-shadow: 5px 5px 5px grey;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 10px 5px 5px #fff;
    border-radius: 30px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    z-index: 1;
    color: black;
    width: 100%;
    justify-content: center;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity ease 250ms;
    background-color: #fff;

}

.slider-nav a:hover {
    opacity: 1;
}

.viewMore {
    margin-left: 40%;
    margin-top: 5%;
    width: 20%;
    border-radius: 30px;
    padding: 1%;
    color: #FE7A00;
    border: solid #FE7A00;
    background-color: #fff;
}

.viewMore:hover {
    scale: 1.05;
    transition: 0.2s;
}

footer {
    background-color: #cfcfcf;


}

footer p {
    margin-top: 10%;
    margin-left: 7.5%;
}

.buttonAndRangeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7.5%;
}